@import "tailwindcss";

@plugin "@designbycode/tailwindcss-text-stroke";

@theme {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 20s linear infinite;

  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;

  --font-anton: var(--font-anton), ui-sans-serif, system-ui, sans-serif;

  --color-brand: #facc15;

  --shadow-figma-blur: inset 0 0 100px var(--color-zinc-950);

  --breakpoint-xs: 30rem;
}

body:has(.is-menu-open) {
  overflow: hidden;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.animate-scroll-left {
  animation: scrollLeft 40s linear infinite;
}

.animate-scroll-right {
  animation: scrollRight 40s linear infinite;
}
